// Rule to allow inactive users in wheel group to reboot or shutdown
//
polkit.addRule(function(action, subject) {
if ((action.id == "org.freedesktop.consolekit.system.stop" ||
action.id == "org.freedesktop.consolekit.system.restart" ||
action.id == "org.freedesktop.consolekit.system.suspend" ||
action.id == "org.freedesktop.login1.power-off" ||
action.id == "org.freedesktop.login1.reboot" ||
action.id == "org.freedesktop.login1.suspend") &&
subject.isInGroup("wheel")) {
return polkit.Result.YES;
}
});
